*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    min-width: 72px;
    padding: 8px;
    margin: 1px;
}

.card{
    width: 21rem;
}

.form-control{
    width: calc(100vh - 20rem);
}